# Ignore everything by default
/*

# Allow folders
!src/
!.github/
!.github/**
!crates/
!examples/
!assets/

# Allow root files
!LICENSE
!README.md
!CONTRIBUTING.md
!Cargo.toml
!Cargo.lock
!.gitignore
